<h2>Создание новости</h2>

<form asp-action="Create" asp-controller="Teacher" method="post" enctype="multipart/form-data">
    <div class="input--news">
    <label for="nameNews">Наименование новости</label>
    <input type="text" id="nameNews" name="newsName"/>
    </div>
    <div class="input--news">
    <label for="descriptionNews">Описание новости</label>
    <input type="text" id="descriptionNews" name="newsDescription"/>
    </div>
    <input type="file" name="uploadedFiles" multiple/>
    <div>
        <input type="submit" value="Сохранить новость" />
    </div>


</form>
<style>
    * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Roboto';

}

header:hover {
    background-color: #58596b;
}
.input--news{
    display:flex;
    flex-direction:column;
}

body {
    margin: 20px;
    background-color: #121321;
}

.head {
    box-shadow: 0px 9px 5px -5px white (34, 60, 80, 0.35);
    margin-bottom: 20px;
    display: flex;
    height: 80px;
    align-items: center;
    background-color: #252740;
    transition: 0.5s;
}
  .main_table{
    width: 100%;
        border:1px solid white;
}
.main_table td{
    padding: 5px 10px;
    border:1px solid white;
}
th{
    text-align:center;
    border:1px solid white;
}
textarea {
    background-color: #252740;
    border: none;
    width: 100%;
}

.head_title {
    padding: 0 20px;
}

a {
    text-decoration: none;
}

.main_table {
    width: 100%;
}

.main_table td {
    padding: 5px 10px;
}

.news-description {
    width: 50%;
}

.news-name_td {
    width: 400px;
}

td {
    background: none;
    border-radius: 5px;
    padding: 5px;
}

.news-name {
    width: 20%;
}




.input_submit {
    padding: 10px 40px;
    border-radius: 10px;
}

input {
    background-color: #252740;
    border: none;
    transition: 1s;
}

input:hover {
    border: 1px solid #59d9c3;
    background-color: #58596b;
}
</style>